
.image-container {
	background-size: cover;
	position: relative;
}
.image-container img {
	width: 100% !important;
	height: auto;
	object-fit: cover;
	z-index: -1;
	bottom: 0;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 50px;
	top: 700px;
	width: 500px;
	height: 500px;
	overflow: auto;
}

.modal-content {
	background-color: white;
	margin: auto;
	padding: 20px;
	border: 1px solid gray;
	width: 80%;
}

.close {
	color: gray;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#lockOne {
	width: 75px;
	height: 75px;
	background-size: 75px;
	margin-top: 125px;
	margin-left: 35px;
}

#lockTwo {
	width: 75px;
	height: 75px;
	background-size: 75px;
	margin-top: 125px;
	margin-left: 35px;
}

#lockThree {
	width: 75px;
	height: 75px;
	background-size: 75px;
	margin-top: 125px;
	margin-left: 35px;
}

#dialogue {
	position: absolute;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
	background-image: linear-gradient(gray, brown);
	height: 200px;
	width: 700px;
	padding: 7px;
	right: 0%;
	margin-top: 700px;
	margin-left: 1100px;
}

.locks {
	position: absolute;
	top: 1%;
	left: 1%;
}
